# Excluded folders
IEE_a_similar_project_researches/
images_patterns_accepted/
latex_template_to_use/
things_icollect_we_may_put_an_idea_from_them/
trails_they_disappointed_me/

# Excluded archives
rapport_de_pfe.rar
rapport_de_pfe.zip
rapport_de_pfe_v0.zip